.contact{
    background-color: #323641;
    height: 100vh;
    position: relative;

    .contact-container{
    
        display: flex;
        flex-direction: row;
        position: relative;
        height: 100%;
    
        .anima{
            width: 50vw;
            position: relative;
        }
    
        .form{
            width: 50vw;
            text-align: center;
            color: white;
            padding-top: 200px;
    
            .heading{
                font-size: 40px;
                margin-bottom: 15px;
                text-transform: capitalize;
            }
    
            .container{
                margin-bottom: 20px;
            }
    
            .sub{
                font-size: 28px;
                color: #e95f55;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
    
            .ico{
                margin: 10px;
                color:white;
                cursor: pointer;
            }
            .ico:hover{
                color: #e95f55;
            }
    
            .sub-cont{
                font-size: 20px;
                font-style: italic;
                display: flex;
                align-items: center;
                margin-left: 100px;
            }
        }
    }

    .footer{
        position: absolute;
        bottom: 20px;
        color: white;
        left: 0;
        right: 0;
        text-align: center;
        height: fit-content;
    }
}