
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
  font-family: 'Ubuntu', sans-serif;
  
  background-color: #1363DF !important;
  background: url(../public/assets/future-grid.webp);
  transition: 1s overflow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
